<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Electron Plus Demo</title>
    <link rel="stylesheet" href="../node_modules/xel/themes/vanilla.css">
</head>
<body>
    <x-menu>
        <x-menuitem>
            <x-icon name='undo'></x-icon>
            <x-label>Undo</x-label>
            <x-shortcut value='Control+Z'></x-shortcut>
        </x-menuitem>
        <x-menuitem>
            <x-icon name='redo'></x-icon>
            <x-label>Redo</x-label>
            <x-shortcut value='Control+Shift+Z'></x-shortcut>
        </x-menuitem>
        <hr>
        <x-menuitem>
            <x-icon name='content-cut'></x-icon>
            <x-label>Cut</x-label>
            <x-shortcut value='Control+X'></x-shortcut>
            </x-menuitem>
        <x-menuitem>
            <x-icon name='content-copy'></x-icon>
            <x-label>Copy</x-label>
            <x-shortcut value='Control+C'></x-shortcut>
        </x-menuitem>
        <x-menuitem>
            <x-icon name='content-paste'></x-icon>
            <x-label>Paste</x-label>
            <x-shortcut value='Control+V'></x-shortcut>
        </x-menuitem>
        <hr>
        <x-menuitem>
            <x-icon></x-icon>
            <x-label>Refresh</x-label>
            </x-menuitem>
    </x-menu>
    <h1>Hey</h1>
</body>
</html>
