<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Electron Plus Demo</title>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.min.css">
	</head>
	<body>
		<nav class="nav-extended">
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">ElectronPlus</a>
			</div>
			<div class="nav-content">
				<ul class="tabs tabs-transparent">
					<li class="tab"><a href="#demo">Demo Application</a></li>
				</ul>
			</div>
        </nav>
        
		<main ep-tab="demo">
            <h1>Test</h1>
        </main>
		<script src="../src/ElectronPlus.web.js"></script>
		<script src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>    
	</body>
</html>